
.label input{
    position: relative;
    border: 1px solid lightgrey;
    align-items: center;
    border-radius: 5px;
    outline: none;
    min-width: 250px;
    padding: 15px 20px;
    font-size: 1rem;
    transition: all .1s linear;
    -webkit-transition: all .1s linear;
    -moz-transition: all .1s linear;
  }
  
  .label input:focus{
    border: 2px solid #3951b2;
  }
  
  .label input::placeholder{
    color:transparent;
  }
  
  .label label{
    pointer-events: none;
    position: absolute;
    top: calc(50% - 10px);
    left: 15px;
    transition: all .1s linear;
    -webkit-transition: all .1s linear;
    -moz-transition: all .1s linear;
    background-color: white;
    padding: 5px;
    box-sizing: border-box;
    color: #515255;
  }
  
  .label input:required:invalid + label{
    color: red;
  }
  .label input:focus:required:invalid{
    border: 2px solid red;
  }
  .label input:required:invalid + label:before{
    content: '*';
  }
  .label input:focus + label,
  .label input:not(:placeholder-shown) + label{
    font-size: 13px;
    top: 0;
    color: #515255;
  }


.password {
  display: flex;
  justify-content: end;
}

.password span {
    position: absolute;
    z-index: 2;
    margin-inline-end: auto;
    margin-top: 1rem;
    margin-right: 1rem;
    cursor: pointer;
}

@media (max-width: 1060px) {
  input {
    width: 100%;
    max-width: -webkit-fill-available;  
  }

  .label input {
    min-width: 0;
  }
  
}